.split-view-container {
  width: 100%;
  height: 100%;
}

.split-view-view {
  position: absolute;
}

.split-view-container.horizontal .split-view-view {
  height: 100%;
  top: 0;
  bottom: 0;
}

.split-view-container.vertical > .split-view-view {
  width: 100%;
  left: 0;
  right: 0;
}

.split-view-drag-handle {
  width: "4px";
  height: "100%";
  position: "absolute";
  background-color: "red";
  z-index: 100;
  cursor: "col-resize";
}
