*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.tree-view-root {
  padding: 0;
}

.tree-view-item {
  list-style: none;
}

.tree-view-item-list {
  padding: 0;
  height: 0;
  overflow: hidden;
}
.tree-view-folder.open > .tree-view-item-list {
  height: auto;
}

.tree-view-item-wrapper {
  height: 32px;
  display: flex;
  overflow: hidden;
}

.tree-view-item-button {
  background-color: transparent;
  outline: none;
  border: 0;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  padding: 0 1rem 0 1rem;
  height: 100%;
  width: 100%;
  flex: 1;
  text-align: left;
  cursor: pointer;
  overflow: hidden;
}

.tree-view-item-button.active {
  color: #d1d7d9;
}

.tree-view-item-button:focus-visible {
  background-color: #40424f;
}
.tree-view-item-wrapper:hover {
  background-color: #21272c;
  color: white;
}

.tree-view-item-icon {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
}

.tree-view-item-label {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tree-view-item-wrapper:hover > .tree-view-item-actions {
  display: flex;
}

.tree-view-item-actions {
  display: none;
  align-items: center;
  justify-content: flex-end;
}

.tree-view-item-action-button {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

.tree-view-item-action-button svg {
  font-size: 1.25rem;
}

.tree-view-item-action-button:hover {
  color: #d1d7d9;
}
